
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color:rgb(139, 114, 139);
}

/*  styles href */
a:link {
  color: white;
}
a:visited {
  color: grey;
}
a:hover {
  color: green;
}
a:active {
  color: white;
}

